<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/Icon/pizza.png" type="image/png">
    <link rel="stylesheet" href="../assets/CSS/home.css">
    <link rel="stylesheet" href="../assets/CSS/style.css">
    <link rel="stylesheet" href="../assets/CSS/footer.css">
    <link rel="stylesheet" href="../assets/CSS/header.css">
    <link rel="stylesheet" href="../assets/CSS/main.css">
    <link rel="stylesheet" href="../assets/CSS/info.css">
    <link rel="stylesheet" href="../assets/CSS/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap" rel="stylesheet">
    <title>Arenah</title>
</head>
<body>
    <header class="content-header">
        <div class="icon">
            <img src="../assets/Icon/pizza.png" alt="icon">
        </div>
        <div class="content">
            <li>
                <a href="#" id="home-link"><img src="../assets/Icon/home.png" alt="Home"></a>
                <a href="" id="menu-link"><img src="../assets/Icon/menu.png" alt="Menu"></a>
                <a href="" id="info-link"><img src="../assets/Icon/info.png" alt="info"></a>
                <a href="" id="contact-link"><img src="../assets/Icon/contact.png" alt="contact"></a>
            </li>
        </div>
    </header>
    <hr>
    <section id="content-dynamique">
    </section>
    <script src="../assets/JS/ajax.js"></script>
    <footer class="content-footer">
        <div class="contact">
            <li>
                <div class="contact-content">
                    <a href="https://www.instagram.com/jose_rasul/"><img src="../assets/Icon/instagram.png" alt="instagram" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://web.facebook.com/hose.rasoru"><img src="../assets/Icon/facebook.png" alt="facebook" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://mail.google.com/mail/u/0/#inbox/FMfcgzQcqkwtVJgHRMjRxFkDLtxczrpj"><img src="../assets/Icon/email.png" alt="email" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://wa.me/261324643193?text=Bonjour!%20Je%20viens%20du%20site%20vitrine"><img src="../assets/Icon/whatsapp.png" alt="whatsapp" target="_blank" rel="noopener noreferrer"></a>
                </div>
            </li>
        </div>
        <p>Copyright &copy; 2025 The Brain. All Rigth Reserved.</p>
    </footer> 
</body>
</html>