<section class="menu">
   <h1>Notre Menu</h1>
   <div class="content">
      <div class="left">
         <img src="../assets/Pictures/margherita.jpg" alt="Pizza">
         <p><img src="../assets/Pictures/BBQ.jpg" alt="Pizza"></p>
         <img src="../assets/Pictures/pepperoni.jpg" alt="Pizza">
      </div>
      <div class="right">
            <ul class="article">
               <li>Pizza Margherita</li>
               <li>Pizza Poulet</li>
               <li>Pizza Vegetarien</li>
               <li>Pizza au Fruit de mer</li>
               <li>Pizza au Pepperoni</li>
               <li>Pizza Mozzarela</li>
               <li>Pizza au fromage</li>
               <li>Pizza Viande</li>
               <li>Pizza Arenah</li>
               <li>Pizza au Charcuterie</li>
            </ul>
            <ul class="price">
               <li>50.000 Ariary</li>
               <li>35.000 Ariary</li>
               <li>40.000 Ariary</li>
               <li>70.000 Ariary</li>
               <li>35.000 Ariary</li>
               <li>42.000 Ariary</li>
               <li>30.000 Ariary</li>
               <li>32.000 Ariary</li>
               <li>100.000 Ariary</li>
               <li>80.000 Ariary</li>
            </ul>
      </div>
   </div>
   
</section>