.contact2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,  10%);
}

.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.main h1{
    font-family: 'Rubik 80s Fade', system-ui;
    font-variant: small-caps;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(172, 147, 10);
    text-shadow: 2px 2px 0 #000, 
        4px 4px 10px rgba(0,0,0,0.3);
}

.main-content2 {
    display: flex;
    gap: 30px;
    flex-direction: row;
}

.main-content3 textarea,
.main-content3 input,
.main-content2 input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgb(172, 147, 10);
    width: 37.5vh;
    height: 5vh;
}

.main-content3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.up {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.main-content3 textarea{
    height: 18.5vh;
    width: 80vh;
}

.main-content3 input{
    width: 80vh;
}

.main-content3 button{
    width: 20vh;
    height: 8vh;
    align-self: center;
    border: none;
    background-color: rgb(189, 163, 18);
    color: white;
}

input,
textarea,
input::placeholder,
textarea::placeholder{
    color: white;
    font-style: italic;
}

