.content-footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact li {
    list-style: none;;    
}
.contact-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.contact-content a img {
    width: 30px;
    height: 30px;
}



p {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}