.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px; 
}   

.icon {
    margin-left: 20px;
}

.content {
    margin-right: 20px;
}

.icon img{
    height: 50px;
    width: 50px;
}

.content li{
    display: flex;
    flex-direction: row;
}

.content li a img{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}


/* --- Mobile (petits écrans < 480px) --- */
@media (max-width: 479px) {
    .content-header {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    .icon {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .content {
        margin-right: 0;
    }
    .icon img,
    .content li a img {
        height: 30px;
        width: 30px;
        margin-left: 5px;
    }
}

/* --- iPhone (480px - 767px) --- */
@media (min-width: 480px) and (max-width: 767px) {
    .content-header {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 15px;
    }
    .icon {
        margin-left: 10px;
    }
    .content {
        margin-right: 10px;
    }
    .icon img,
    .content li a img {
        height: 35px;
        width: 35px;
        margin-left: 5px;
    }
}

/* --- Tablette (768px - 1023px) --- */
@media (min-width: 768px) and (max-width: 1023px) {
    .content-header {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 18px;
    }
    .icon img,
    .content li a img {
        height: 40px;
        width: 40px;
        margin-left: 8px;
    }
}

/* --- Laptop (1024px - 1439px) --- */
@media (min-width: 1024px) and (max-width: 1439px) {
    .content-header {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }
    .icon img,
    .content li a img {
        height: 50px;
        width: 50px;
        margin-left: 10px;
    }
}

/* --- Ecran TV / grands écrans ≥ 1440px --- */
@media (min-width: 1440px) {
    .content-header {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 25px;
    }
    .icon img,
    .content li a img {
        height: 60px;
        width: 60px;
        margin-left: 12px;
    }
}