.content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px; 
}   

.icon {
    margin-left: 20px;
}

.content {
    margin-right: 20px;
}

.icon img{
    height: 50px;
    width: 50px;
}

.content li{
    display: flex;
    flex-direction: row;
}

.content li a img{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}