.home {
    padding: 40vh;
}

.home h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(172, 147, 10);
    text-shadow: 2px 2px 0 #000, 
        4px 4px 10px rgba(0,0,0,0.3);
    font-size: 7vh;
}
