body {
    position: relative; 
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Pictures/fond.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px); 
    z-index: -2; 
}

/* overlay sombre */
body::after {
    content: "";
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: -1; 
}

hr {
    color: rgb(172, 147, 10);
}
